# Modélisation des tremblements de terre en 2020.

Téléchargement des données sur : https://earthquake.usgs.gov/earthquakes/search/

In [1]:
# importation des différents modules

import os
import json
import folium
import pandas as pd
import geopandas
import shapely
import numpy as np
from folium import plugins

In [2]:
# importation des données pour chaque mois de l'année

EQ_janvier = pd.read_csv('./data/3_earthquakes/janvier.csv', sep=',')
EQ_fevrier = pd.read_csv('./data/3_earthquakes/fevrier.csv', sep=',')
EQ_mars = pd.read_csv('./data/3_earthquakes/mars.csv', sep=',')
EQ_avril = pd.read_csv('./data/3_earthquakes/avril.csv', sep=',')
EQ_mai = pd.read_csv('./data/3_earthquakes/mai.csv', sep=',')
EQ_juin = pd.read_csv('./data/3_earthquakes/juin.csv', sep=',')
EQ_juillet = pd.read_csv('./data/3_earthquakes/juillet.csv', sep=',')
EQ_aout = pd.read_csv('./data/3_earthquakes/aout.csv', sep=',')
EQ_septembre = pd.read_csv('./data/3_earthquakes/septembre.csv', sep=',')
EQ_octobre = pd.read_csv('./data/3_earthquakes/octobre.csv', sep=',')
EQ_novembre = pd.read_csv('./data/3_earthquakes/novembre.csv', sep=',')
EQ_decembre = pd.read_csv('./data/3_earthquakes/decembre.csv', sep=',')

In [3]:
# observation des données

EQ_janvier.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2020-01-31T23:32:51.609Z,38.4961,39.3382,10.00,4.7,mwr,NaN,34,0.984,0.96,...,2020-04-18T22:10:07.040Z,"5km NNE of Sivrice, Turkey",earthquake,4.9,1.9,0.071,19.0,reviewed,us,us
1,2020-01-31T23:06:11.255Z,-12.2747,-76.6148,75.51,4.7,mb,NaN,167,0.361,0.63,...,2020-04-18T22:10:07.040Z,"21km ENE of San Bartolo, Peru",earthquake,13.6,6.7,0.074,55.0,reviewed,us,us
2,2020-01-31T22:10:55.844Z,-6.4065,129.1523,221.39,5.0,mww,NaN,28,2.643,0.72,...,2020-04-18T22:10:06.040Z,"293km NW of Saumlaki, Indonesia",earthquake,6.9,4.2,0.071,19.0,reviewed,us,us
3,2020-01-31T20:34:28.793Z,6.0924,-82.5400,10.00,4.5,mb,NaN,94,2.429,1.28,...,2020-04-18T22:10:06.040Z,"217km S of Punta de Burica, Panama",earthquake,6.9,1.9,0.093,37.0,reviewed,us,us
4,2020-01-31T17:07:46.302Z,35.8840,140.0639,64.00,5.3,mww,NaN,47,0.361,0.95,...,2020-05-01T23:32:01.131Z,"2km SW of Toride, Japan",earthquake,6.1,1.8,0.063,24.0,reviewed,us,us

In [4]:
# dimension

EQ_janvier.shape

(656, 22)

In [5]:
# nouveau objet pour janvier

EQ_janvier_bis = EQ_janvier[['latitude', 'longitude', 'mag']]

In [6]:
EQ_janvier_bis

     latitude  longitude  mag
0     38.4961    39.3382  4.7
1    -12.2747   -76.6148  4.7
2     -6.4065   129.1523  5.0
3      6.0924   -82.5400  4.5
4     35.8840   140.0639  5.3
..        ...        ...  ...
651   51.6600  -176.6912  4.6
652   29.0289   105.0195  4.8
653   32.2879   138.3309  4.5
654   -5.3373   152.6003  4.6
655   -5.3245   152.5514  5.1

[656 rows x 3 columns]

In [7]:
# transformation en tableau pour janvier

tab_janvier = EQ_janvier_bis[['latitude', 'longitude', 'mag']].to_numpy()

In [8]:
tab_janvier[1]

array([-12.2747, -76.6148,   4.7   ])

In [9]:
# transformation en liste pour janvier

data_janvier = tab_janvier.tolist()

In [10]:
# vérification

type(data_janvier)

list

In [11]:
#data_janvier

In [12]:
# instanciation d'une carte

maCarte = folium.Map(
    location=[47.1, 55.3],
    tiles="openstreetmap",
    zoom_start=1)

In [13]:
# importation du plugin HeatMap

from folium.plugins import HeatMap

In [14]:
# HeatMap pour le mois de janvier

hm = HeatMap(data_janvier)

In [15]:
# on l'ajoute à la carte

hm.add_to(maCarte)

In [16]:
# on affiche la carte
#maCarte

In [17]:
# on fait pareil pour tous les autres mois...

EQ_fevrier_bis = EQ_fevrier[['latitude', 'longitude', 'mag']]
EQ_mars_bis = EQ_mars[['latitude', 'longitude', 'mag']]
EQ_avril_bis = EQ_avril[['latitude', 'longitude', 'mag']]
EQ_mai_bis = EQ_mai[['latitude', 'longitude', 'mag']]
EQ_juin_bis = EQ_juin[['latitude', 'longitude', 'mag']]
EQ_juillet_bis = EQ_juillet[['latitude', 'longitude', 'mag']]
EQ_aout_bis = EQ_aout[['latitude', 'longitude', 'mag']]
EQ_septembre_bis = EQ_septembre[['latitude', 'longitude', 'mag']]
EQ_octobre_bis = EQ_octobre[['latitude', 'longitude', 'mag']]
EQ_novembre_bis = EQ_novembre[['latitude', 'longitude', 'mag']]
EQ_decembre_bis = EQ_decembre[['latitude', 'longitude', 'mag']]

In [18]:
tab_fevrier = EQ_fevrier_bis[['latitude', 'longitude', 'mag']].to_numpy()
tab_mars = EQ_mars_bis[['latitude', 'longitude', 'mag']].to_numpy()
tab_avril = EQ_avril_bis[['latitude', 'longitude', 'mag']].to_numpy()
tab_mai = EQ_mai_bis[['latitude', 'longitude', 'mag']].to_numpy()
tab_juin = EQ_juin_bis[['latitude', 'longitude', 'mag']].to_numpy()
tab_juillet = EQ_juillet_bis[['latitude', 'longitude', 'mag']].to_numpy()
tab_aout = EQ_aout_bis[['latitude', 'longitude', 'mag']].to_numpy()
tab_septembre = EQ_septembre_bis[['latitude', 'longitude', 'mag']].to_numpy()
tab_octobre = EQ_octobre_bis[['latitude', 'longitude', 'mag']].to_numpy()
tab_novembre = EQ_novembre_bis[['latitude', 'longitude', 'mag']].to_numpy()
tab_decembre = EQ_decembre_bis[['latitude', 'longitude', 'mag']].to_numpy()

In [19]:
data_fevrier = tab_fevrier.tolist()
data_mars = tab_mars.tolist()
data_avril = tab_avril.tolist()
data_mai = tab_mai.tolist()
data_juin = tab_juin.tolist()
data_juillet = tab_juillet.tolist()
data_aout = tab_aout.tolist()
data_septembre = tab_septembre.tolist()
data_octobre = tab_octobre.tolist()
data_novembre = tab_novembre.tolist()
data_decembre = tab_decembre.tolist()

In [20]:
#data_fevrier

In [21]:
# on ajoute toutes les données dans un seul tableau pour l'année 2020

data2020 = [data_janvier, data_fevrier, data_mars, data_avril, data_mai, data_juin, data_juillet, data_aout, 
           data_septembre, data_octobre, data_novembre, data_decembre]

In [22]:
# instanciation d'une nouvelle carte

maCarte2 = folium.Map(
    location=[15.1, 70.3],
    tiles="openstreetmap",
    zoom_start=2)

# ajout du widget Fullscreen

plugins.Fullscreen(
        position = 'topright',
        title = 'Plein écran',
        force_separate_button = True).add_to(maCarte2)

In [23]:
# carte de chaleur avec le temps

from folium.plugins import HeatMapWithTime
hmwt = HeatMapWithTime(data2020, auto_play=True)
hmwt.add_to(maCarte2)

In [24]:
#maCarte2

In [25]:
# sauvegarde de la carte

maCarte2.save('earthquakes.html')

In [26]:
#help(folium.plugins.HeatMapWithTime)

In [27]:
###